:root {
  --primary: #559fae;
  --light-primary: #bae3eb;
  --dark-primary: #3d8695;
  --primary-transparent: #80BAC660;
  --light-primary-transparent: #bae3eb30;
  --dark-primary-transparent: #3d869590;

  --alternative-primary: #87a6db;
  --alternative-primary-light: #a3bfef;
  --alternative-primary-light-light: #bbd1f7;
  --alternative-primary-dark: #7091cb;
  --alternative-primary-dark-dark: #5d84c7;
  --alternative-primary-dark-dark-dark: #416fbf;
  --alternative-primary-transparent: #87a6db30;

  --secondary: #dd6a44;
  --dark-secondary: #b05637;

  --white: #FAFCFD;
  --black: #091D20;
  --slate: #485456;
  --light-slate: #e1e7e8;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black); /* Keeping text readable */
    background-color: var(--white); /* Softer background for less eye strain */
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

h1, h2 {
  color: var(--black); /* Darker, richer color for headings */
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.25rem; /* Making main heading larger */
}

h2 {
  font-size: 1.75rem; /* Adjusting secondary heading size */
  margin-top: 1em;
}

p {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adding a subtle shadow for depth */
}

th, td {
  padding: 15px; /* More spacious padding */
  border: 1px solid var(--white); /* Lighter border */
  text-align: left;
}

th {
  background-color: var(--primary); /* Accent color for headers */
  color: var(--white); /* White text for contrast */
}

input, select {
  font-size: 16px;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px; /* Rounded corners for a softer look */
  border: 1px solid var(--white); /* Defined borders for inputs */
  background: var(--white); /* White background for input and select */
  text-transform: uppercase;
}

button {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--secondary); /* Accent color for buttons */
  color: var(--white); /* White text on buttons */
  border-radius: 2rem;
  border: none; /* Removing button border */
  transition: box-shadow 0.3s ease;
}

.selected, button:hover {
  box-shadow: 0 0 10px var(--secondary);
}

#output, #time {
  margin-top: 20px;
  background-color: var(--white); /* Background for output areas */
  padding: 15px; /* Padding for output areas */
  border-radius: 5px; /* Rounded corners for the output containers */
  box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Subtle shadow for depth */
}

.header {
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-x {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-y {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card {
  padding: 1rem 2rem;
  margin: 2rem 0;
  border-radius: 1rem;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
  height: fit-content;
} 

.gradient {
  background: linear-gradient(25deg, var(--primary-transparent) 0%, var(--alternative-primary-transparent) 60%);
}

/* Widths */
.w-30 {
  width: 30vw;
}

.w-50 {
  width: 50vw;
}

.w-80 {
  width: 80vw;
}

/* Colors */

.var--secondary {
  color: var(--secondary);
}


.border {
  border: 3px solid var(--light-slate);
}

.ns {
  overflow: auto;
}

.tag-number {
  background-color: var(--alternative-primary-transparent);
  font-weight: bold;
  border-radius: 2rem;
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
}

.go-btn {
  background-color: var(--alternative-primary);
  color: var(--black);
  font-weight: 700;
}

.go-btn:hover {
  box-shadow: 0 0 10px var(--alternative-primary);
}

.number-input {
  width: 60%;
  padding: 1rem;
  border-radius: 4rem;
  background-color: var(--light-slate);
  color: var(--black);
  /* border: 3px solid var(--light-slate); */
  font-size: 3rem;
  outline: none;
  font-weight: 700;
  appearance: textfield;
}

.number-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}